<!DOCTYPE html>
<html>

    <head>

        <style>
            body {
                font-family: "Noto Sans", Noto Sans, Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                color: #141C22;
            }

            h1 {
                font-size: 38px;
                color: #D8232A;
            }

            h2 {
                font-size: 18px;
                margin-top: 40px;
            }

            h3 {
                font-size: 14px;
            }

            h1,
            h2,
            h3 {
                font-weight: bold;
            }

            p {
                margin-bottom: 10px;
            }

            a {
                color: #141C22;
                text-decoration: none;
            }

            ul {
                padding: 0;
                margin-left: 22px;
            }

            li,
            .list-item {
                margin-bottom: 10px;
            }
        </style>

    </head>

    <body>

        <h1>{{ pv_trans(financialSupport, 'name', app.request.locale) }}</h1>

        <div style="width: 100%;">
            {% set description = pv_trans(financialSupport, 'description', app.request.locale) %}
            {% if description|trim is not empty %}
            <div style="float: left; width: 60%;">
                {{ description|raw }}
            </div>
            {% endif %}
            <div style="float: right; width: 30%;">
                {% if logo %}
                    <img style="width: 100%;margin-top:5px" src="{{ logo }}" alt="Logo">
                {% endif %}
            </div>
        </div>

        <div style="width: 100%;">
            <div style="float: left; width: 60%;">

                {% set additionalInfo = pv_trans(financialSupport, 'additionalInformation', app.request.locale) %}
                {% if additionalInfo|trim is not empty %}
                    <h2>{{ 'Kurzbeschrieb' | trans }}</h2>
                    {{ additionalInfo|raw }}
                {% endif %}

                {% set inclusionCriteria = pv_trans(financialSupport, 'inclusionCriteria', app.request.locale) %}
                {% if inclusionCriteria|trim is not empty %}
                    <h2>{{ 'Teilnahmekriterien' | trans }}</h2>
                    {{ inclusionCriteria|raw }}
                {% endif %}

                {% set exclusionCriteria = pv_trans(financialSupport, 'exclusionCriteria', app.request.locale) %}
                {% if exclusionCriteria|trim is not empty %}
                    <h2>{{ 'Ausschlusskriterien' | trans }}</h2>
                    {{ exclusionCriteria|raw }}
                {% endif %}

                {% set financingRatio = pv_trans(financialSupport, 'financingRatio', app.request.locale) %}
                {% if financingRatio|trim is not empty %}
                    <h2>{{ 'Finanzierung' | trans }}</h2>
                    {{ financingRatio|raw }}
                {% endif %}

                {% set application = pv_trans(financialSupport, 'application', app.request.locale) %}
                {% if application|trim is not empty %}
                    <h2>{{ 'Beantragung' |trans }}</h2>
                    {{ application|raw }}
                {% endif %}

                {% set applicationTips = pv_trans(financialSupport, 'applicationTips', app.request.locale) %}
                {% if applicationTips|trim is not empty %}
                    <h2>{{ 'Tipps zur Beantragung' |trans }}</h2>
                    {{ applicationTips|raw }}
                {% endif %}

                {% set contacts = pv_trans(financialSupport, 'contacts', app.request.locale)|default([]) %}
                {% if contacts is not empty %}
                    <h2>{{ 'Kontakt' |trans }}</h2>
                    {% for contact in contacts %}
                        {% if loop.index % 2 == 0 %}
                            <div style="float: right; width: 45%;">
                        {% else %}
                            <div>
                            <div style="float: left; width: 45%;">
                        {% endif %}

                        {% if contact.name|default %}
                            <h3>{{ contact.name }}</h3>
                        {% endif %}
                        
                        {% if contact.firstName|default or contact.lastName|default or contact.role|default or contact.street|default or (contact.zipCode|default and contact.city|default) %}
                            <p>
                                {% if contact.firstName|default and contact.lastName|default %}
                                    {{ contact.firstName }} {{ contact.lastName }}<br>
                                {% endif %}
                                {% if contact.role|default %}
                                    {{ contact.role }}<br>
                                {% endif %}
                                {% if contact.street|default %}
                                    {{ contact.street }}<br/>
                                {% endif %}
                                {% if contact.zipCode|default and contact.city|default %}
                                    {{ contact.zipCode }} {{ contact.city }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if contact.email|default or contact.phone|default or contact.web|default %}
                            <p>
                                {% if contact.email|default %}
                                    {{ contact.email }}<br/>
                                {% endif %}
                                {% if contact.phone|default %}
                                    {{ contact.phone }}<br/>
                                {% endif %}
                                {% if contact.web|default %}
                                    {{ contact.web }}
                                {% endif %}
                            </p>
                        {% endif %}

                        </div>

                        {% if loop.last %}
                            </div>
                        {% elseif loop.index % 2 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set links = pv_trans(financialSupport, 'links', app.request.locale)|default([]) %}
                {% if links is not empty %}
                    <h2>{{ 'Mehr Informationen' |trans }}</h2>
                    <div class="list">
                        {% for link in links %}
                            <div class="list-item">
                                {{ link.label }}<br>
                                <a href="{{ link.value }}" target="_blank">{{ link.value }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if financialSupport.appointments is not empty %}
                    <h2>{{ 'Termine' |trans }}</h2>
                    <div class="list">
                        {% for appointment in financialSupport.appointments %}
                            <div class="list-item">
                                {{ appointment.date|date('d.m.Y') }}
                                {% if appointment.description|default %} 
                                    - {{ appointment.description|raw }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div style="float: right; width: 30%;">
                {% if financialSupport.startDate or financialSupport.endDate %}
                    <h2>{{ 'Laufzeit' |trans }}</h2>
                    <div class="list">
                        {% if financialSupport.startDate %}
                            <div class="list-item">
                                {{ 'Start' |trans }}: {{ financialSupport.startDate|date('d.m.Y') }}
                            </div>
                        {% endif %}
                        {% if financialSupport.endDate %}
                            <div class="list-item">
                                {{ 'Ende' |trans }}: {{ financialSupport.endDate|date('d.m.Y') }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if financialSupport.assignment %}
                    <h2>{{ 'Zuteilung' |trans }}</h2>
                    <div class="list">
                        <div class="list-item">{{ financialSupport.assignment }}</div>
                    </div>
                {% endif %}

                {% if financialSupport.fundingProvider %}
                    <h2>{{ 'Förderstelle'|trans }}</h2>
                    <div class="list">
                        <div class="list-item">{{ financialSupport.fundingProvider }}</div>
                    </div>
                {% endif %}

                {% if financialSupport.instruments|length > 0 %}
                    <h2>{{ 'Unterstützungsform'|trans }}</h2>
                    <div class="list">
                        {% set instruments = [] %}
                        {% set other_instrument_value = null %}
                        {% for instrument in financialSupport.instruments %}
                            {% if instrument.name == 'Weitere' and financialSupport.otherOptionValues.instrument is defined and financialSupport.otherOptionValues.instrument is not empty %}
                                {% set other_instrument_value = 'Weitere: ' ~ financialSupport.otherOptionValues.instrument %}
                            {% else %}
                                {% set instruments = instruments|merge([instrument.name|trans]) %}
                            {% endif %}
                        {% endfor %}
                        {% if other_instrument_value is not null %}
                            {% set instruments = instruments|merge([other_instrument_value]) %}
                        {% endif %}
                        <div class="list-item">{{ instruments|join(', ') }}</div>
                    </div>
                {% endif %}

                {% if financialSupport.beneficiaries|length > 0 %}
                    <h2>{{ 'Begünstigte'|trans }}</h2>
                    <div class="list">
                        {% set beneficiaries = [] %}
                        {% set other_beneficiary_value = null %}
                        {% for beneficiary in financialSupport.beneficiaries %}
                            {% if beneficiary.name == 'Weitere' and financialSupport.otherOptionValues.beneficiary is defined and financialSupport.otherOptionValues.beneficiary is not empty %}
                                {% set other_beneficiary_value = 'Weitere: ' ~ financialSupport.otherOptionValues.beneficiary %}
                            {% else %}
                                {% set beneficiaries = beneficiaries|merge([beneficiary.name|trans]) %}
                            {% endif %}
                        {% endfor %}
                        {% if other_beneficiary_value is not null %}
                            {% set beneficiaries = beneficiaries|merge([other_beneficiary_value]) %}
                        {% endif %}
                        <div class="list-item">{{ beneficiaries|join(', ') }}</div>
                    </div>
                {% endif %}

                {% if financialSupport.topics is not empty %}
                    <h2>{{ 'Themenschwerpunkt' |trans }}</h2>
                    <div class="list">
                        {% for topic in financialSupport.topics %}
                            <div class="list-item">{{ pv_trans(topic, 'name', app.request.locale) }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if financialSupport.projectTypes is not empty %}
                    <h2>{{ 'Innovationsphasen' |trans }}</h2>
                    <div class="list">
                        {% for projectType in financialSupport.projectTypes %}
                            <div class="list-item">{{ pv_trans(projectType, 'name', app.request.locale) }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if financialSupport.geographicRegions is not empty %}
                    <h2>{{ 'Fördergebiet' |trans }}</h2>
                    <div class="list">
                        {% for geographicRegion in financialSupport.geographicRegions %}
                            <div class="list-item">{{ pv_trans(geographicRegion, 'name', app.request.locale) }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>